---
import type { About } from '~/utils/schemas/cv-schema';
import { Icon } from 'astro-icon/components';

interface Props {
  about: About;
}

const { about } = Astro.props;
const { summary } = about;
---

<section class="py-12 slide-in-from-left" id="about" data-animate>
  <div class="flex items-center gap-x-3 mb-6">
    <Icon name="mdi:account-circle-outline" class="w-8 h-8 text-blue-500" />
    <h2 class="text-3xl font-bold">About Me</h2>
  </div>
  <p class="text-lg text-charcoal-600 dark:text-charcoal-300 leading-relaxed">
    {summary}
  </p>
</section>
